:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --primary-color: #6c5ce7;
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

#videobg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    }

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    z-index: -1;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
    --background-color: #1e1e2f;
    --text-color: #e0e0e0;
    --primary-color: #8c7ae6;
}

nav {  
    z-index: 1000; 
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #b009f1;
    background-color: var(--primary-color); 
    color: #ffffff;
    padding: 0.5rem 1rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507); 
}

nav h1 {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

nav .menu {
    list-style: none;
    display: flex;
    position: relative;
    align-items: center;
    margin: 1rem;
}

nav .menu li {
    margin: 0 1rem;
}

nav .menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

button.theme-toggle {
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s, background-color 0.6s ease;
}

button.theme-toggle:hover {
    transform: scale(1.1); 
    background-color: #a29bfe; 
}

button.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav .menu {
        display: none; 
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 80px;
        left: 0;
        padding: 1rem;
        width: 100vw;
    }

    nav .menu.active {
        display: flex; 
        background: #29033a98;
    }

    button.menu-toggle {
        display: block; 
        margin: 2rem;
    }

    nav h1 {
        font-size: 1.8rem;
    }
}


button.theme-toggle {
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s, background-color 0.6s ease;
}

button.theme-toggle:hover {
    transform: scale(1.1); 
    background-color: #a29bfe; 
}

button.theme-toggle i {
    font-size: 1.5rem;
    transition: transform 1s ease, color 1s ease;
}

body.dark-theme button.theme-toggle i {
    transform: rotate(360deg); 
    color: #fbc531; 
}

main{
    padding-top: 4rem;
    position: relative;
    z-index: -20;
}

#about {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    width: 100vw;
    height: fit-content;
    gap: 2rem; 
    margin: auto;
    margin-bottom: 8rem;
}

.container {
    max-width: 1200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.profile-image {
    display: block;
    width: 90vw; 
    max-width: 400px; 
    margin: 1rem auto;
    border-radius: 20px;
    border: 4px solid var(--primary-color);
}

.abouttxt {
    text-align: center;
    flex: 1; 
    margin: 1rem;
    padding: 1rem;
    font-weight: 500;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.hire-button {
    display: inline-block;
    padding: 15px 40px;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    background: linear-gradient(45deg, #8e44ad, #d2b4de);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.hire-button:hover {
    background: linear-gradient(45deg, #c675e6, #b009f1);
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
    #about {
        gap: 1rem; 
        width: 100vw;
    }

    .abouttxt {
        text-align: center;
        margin: auto;
        padding: 1rem;
        width: 90%; 
    }

    .profile-image {
        margin: auto;
        width: 80%; 
        border: 1px solid var(--primary-color);
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem; 
    }

    .abouttxt {
        font-size: 0.9rem; 
    }
}

#skills, #projects, #midia, #contact{
    width: 100vw;
    height: fit-content;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem;
    padding: 2rem;
    justify-content: center; 
    align-items: stretch; 
}

.skill {
    background-color: var(--primary-color);
    color: #e0e0e0;
    padding: 1rem;
    border-radius: 8px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 90%; 
}

.skill h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.skill ul {
    list-style: none;
    padding: 0;
}

.skill li {
    padding: 0.5rem 0;
    text-align: center;
}

.skill h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

@media (max-width: 1100px) { 
    #skills, #projects, #contact, #midia{
        margin-bottom: 3rem;
    }
    .skills-grid, .projects-grid {
        display: flex;
        padding: 2rem;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center; 
    }
    .skill, .project {
        width: 40vw;
        min-width: 300px;
    }
    iframe{
        height: 200px;
    }
    #contact{
        width: 90vw;
        margin: auto;
    }
}

.projects-grid {
    gap: 2rem;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
}

.project {
    max-width: 500px;
    background-color: var(--primary-color);
    color: #e0e0e0;
    padding: 1rem;
    border-radius: 8px;
    margin: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    height: 90%; 
}

.project h3 {
    margin: 0.5rem 0;
}

.project p {
    font-size: 0.9rem;
}

.projects-grid img {
    max-width: 100%;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input, form textarea, form button {
    padding: 0.8rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    background-color: var(--primary-color);
    color: #e0e0e0;
    cursor: pointer;
    font-weight: bold;
}

.social-area {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .social-link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #6c5ce7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #555;
    font-size: 24px;
    transition: all 0.3s ease;
  }
  .social-link:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #a29bfe;
  }

  .download-section {
    margin-top: 50px;
    width: fit-content;
    margin: auto;
  }

  #curriculo p{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    flex: 1; 
  }

  #curriculo {
    margin: auto;
    width: 90vw;
    height: fit-content;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .download-button {
    display: inline-block;
    text-decoration: none;
    background-color: #c39bd3;
    color: #9c27b0;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .download-button:hover {
    background-color: #9c27b0;
    transform: translateY(-2px);
    color: #c39bd3;
  }
  .download-button i {
    margin-right: 8px;
  }

footer {
    background-color: var(--primary-color);
    color: #ffffff;
    bottom: 0;
    font-size: 12px;
    width: 100vw;
    font-weight: 100;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
}
